#wachtkamer_img {
    width: 100%;
    height: 50vh;
    object-fit:cover;
}

#over_ons {
    margin-top: 5%;
    text-align: center;
    font-size: 65px;
    color: black !important;
}

#blokken {
    margin:5%;
}
